<!-- show the current tags -->
<div class="row justify-content-between">
<div class="col-5">
    <h5 class="mt-1">Current tags</h5>
</div>
<div class="col-7 text-end">
    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="javascript:checkTags({{ appobj.currentDoc }});">Check tags</button>
</div>
</div>

<div id="currenttags">
    {# {{ appobj.currentDoc }} #}

    {% for ent in appobj.currentDoc['tagarray'] if ent['label'] != "ACTION" %}
    <div class="btn-group btn-group-sm ner-group" role="group">
        <button type="button" class="btn btn-ner-cat" 
            >{{ ent['label']|e }} </button>
        <button type="button" class="btn btn-primary"
            >{{ ent['text']|e }} </button>
        <button type="button" class="btn fas fa-regular btn-ner-delete"
            onclick="javascript:deleteTag('{{ appobj.currentDoc['db_id']}}', '{{ ent['label']}}', '{{ent['text']}}', this);">x</button>
    </div>
    {% endfor %}
</div>

<hr class="mt-4">

<!-- show potential new tags -->
<h5 class="mt-3">+ Add tags</h5>

<h6 class="mt-3">Actions</h6>
{% for ent in appobj.storedtags if ent['label'] == "ACTION" and ent['text'] != "" %}
    {# {% if any( [ filetag['label'] == 'ACTION' and filetag['text'] == ent['text'] for filetag in appobj.currentDoc['tagarray'] ]) %} #}
        {#{ appobj.storedtags }#}
        <div class="btn-group btn-group-sm ner-group" role="group">
            <button type="button" class="btn btn-primary"
                onclick="javascript:addTagToFile('{{ appobj.currentDoc['db_id']}}', 'ACTION', '{{ent['text']}}');">{{ ent['text'] }} </button>
        </div>
    {# {% endif %} #}
{% endfor %}

<h6 class="mt-3">Tags</h6>
<div class="accordion small mb-5" id="taglist" aria-multiselectable="true">
    {% for type in appobj.nerEnts %}
        <div class="accordion-item">
            <h6 class="accordion-header">
                <button class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse" href="#tagcollapse{{type[0]}}"
                    aria-expanded="{% if i==0 %}true{% else %}false{% endif %}" aria-controls="tagcollapse{{type[0]}}">
                    {{ type[0] }}
                </button>
            </h6>

            <div id="tagcollapse{{type[0]}}" class="accordion-collapse collapse {% if i==0 %}show{% endif %}" data-bs-parent="#taglist">
                <div class="accordion-body">
                    <p>
                    {% for ent in appobj.storedtags if ent['label'] == type[0] and ent['text'] != "" and ent['texthints'] != "!!--STOP--!!" %}
                        {#{ appobj.storedtags }#}
                        <div class="btn-group btn-group-sm ner-group" role="group">
                            <button type="button" class="btn btn-primary"
                                onclick="javascript:addTagToFile('{{appobj.currentDoc['db_id']}}', '{{ent['label']}}', '{{ent['text']}}');">{{ ent['text'] }} </button>
                        </div>
                    {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

